:root {
  --Brown: #DE8F75;
  --Blue: #5F75AA;
  --GreyBlue: #AEB6C1;
  --Purple: #A9095E;
  --BlueAqua: #2A5A75;
  --Black: #000000;
  --White: #FFFFFF;
  --Green: #32917B;
  --White2: #F2F2F2;
  --Silver: #EBEBEB;
  --Grey: #E3E3E3;
  --Grey2: #CCCCCC;
  --Grey3: #ADADAD;
  --Grey4: #7F7F7F;
  --Grey5: #686868;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", "sans-serif" !important;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
}

.header #menu-trigger {
  display: none;
}

.header .menu-hidde {
  display: none;
}

.header .logo {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 86px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 40px;
  border-top: 1px solid var(--Grey2);
  border-bottom: 1px solid var(--Grey2);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header .nav .login {
  font-weight: 400;
  font-size: 12px;
  line-height: 17,55px;
}

.header .nav .login > span {
  color: var(--Grey5);
}

.header .nav .login > a {
  color: var(--Grey5);
  padding: 0 10px;
}

.header .nav .categorias {
  font-family: var(--Font);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.header .nav .categorias > a {
  color: var(--Grey5);
  text-transform: uppercase;
  padding: 0 25px;
}

.header .nav .navbar-direita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav .navbar-direita .busca > input {
  margin-right: 2em;
  background: url(/assets/img/icone-busca.svg) no-repeat 9px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(104, 104, 104, 0.4);
  height: 35px;
  outline: none;
  width: 100px;
  left: 50px;
  -webkit-transition: .4s;
  transition: .4s;
}

.header .nav .navbar-direita .sacola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .nav .navbar-direita .sacola > span {
  font-family: "Open Sans";
  font-size: 12px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .header #menu-trigger {
    display: block;
  }
  .header .menu-hidde {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #FFFFFF;
    position: absolute;
    left: -100%;
  }
  .header .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .nav .login {
    display: none;
  }
  .header .nav .categorias {
    display: none;
  }
}

.pagina-atual {
  max-width: 1250px;
  margin: 0 auto;
  padding: 16px 40px;
  line-height: 18px;
  color: var(--GreyBlue);
}

.produto-info {
  max-width: 1250px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr;
}

.produto-info .container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.produto-info .container-info .carrossel-produto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.produto-info .container-info .carrossel-produto .videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.produto-info .container-info .carrossel-produto .videos > p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--Brown);
}

.produto-info .container-info .carrossel-produto .videos .container-video {
  width: 82px;
  height: 45px;
  margin: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.produto-info .container-info .carrossel-produto .videos .container-video > img {
  width: 82px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
}

.produto-info .container-info .carrossel-produto .videos .container-video > .play-icon {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 5px;
  left: 23px;
}

.produto-info .container-info .carrossel-produto .lista-miniatura .miniatura {
  width: 82px;
  height: 94px;
  margin-bottom: 10px;
}

.produto-info .container-info .carrossel-produto .lista-miniatura span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.produto-info .container-info .carrossel-produto .lista-miniatura span:last-child {
  margin-top: 20px;
}

.produto-info .informacoes {
  max-width: 444px;
  border: 2px solid #D2E1DF;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.produto-info .informacoes .titulo-id {
  margin-top: 18px;
  margin-left: 18px;
  margin-bottom: 17px;
}

.produto-info .informacoes .titulo-id > h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
}

.produto-info .informacoes .titulo-id > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.produto-info .informacoes .valores {
  margin-left: 18px;
  margin-bottom: 25px;
}

.produto-info .informacoes .valores .preco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.produto-info .informacoes .valores .preco .valor-antigo {
  margin-right: 10px;
  font-size: 20px;
  color: #E35442;
}

.produto-info .informacoes .valores .preco .valor-novo {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: var(--Grey5);
}

.produto-info .informacoes .valores > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--Grey4);
}

.produto-info .informacoes .cor {
  margin-left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.produto-info .informacoes .cor > p:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.produto-info .informacoes .cor > p:last-child {
  padding-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--Blue);
}

.produto-info .informacoes .cores-selecao {
  margin-left: 12px;
}

.produto-info .informacoes .cores-selecao > span {
  margin: 13px 5px 17px 5px;
}

.produto-info .informacoes .cores-selecao .circulo-rosa {
  width: 22px;
  height: 22px;
  background-color: var(--Purple);
  border-radius: 50%;
  display: inline-block;
}

.produto-info .informacoes .cores-selecao .circulo-azul {
  width: 22px;
  height: 22px;
  background-color: var(--BlueAqua);
  border-radius: 50%;
  display: inline-block;
}

.produto-info .informacoes .cores-selecao .circulo-marrom {
  width: 22px;
  height: 22px;
  background-color: #A14830;
  border-radius: 50%;
  display: inline-block;
}

.produto-info .informacoes .cores-selecao .circulo-preto {
  width: 22px;
  height: 22px;
  background-color: var(--Black);
  border-radius: 50%;
  display: inline-block;
}

.produto-info .informacoes .tamanho-title {
  margin-left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.produto-info .informacoes .tamanho-title .tamanho-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.produto-info .informacoes .tamanho-title .tamanho-desc .tamanho {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--Blue);
}

.produto-info .informacoes .tamanho-title .tamanho-desc > p:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #202020;
  padding-right: 10px;
}

.produto-info .informacoes .tamanho-title > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  color: var(--Brown);
  padding-right: 18px;
}

.produto-info .informacoes .tamanhos {
  margin-left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin-bottom: 40px;
}

.produto-info .informacoes .tamanhos .numero {
  font-size: 14px;
  color: var(--Blue);
  border: 1px solid var(--Silver);
  border-radius: 2px;
  padding: 10px;
  margin-right: 3px;
}

.produto-info .informacoes .button-sacola {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--White);
  background-color: var(--Green);
  padding: 23px 100px;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 auto;
}

.produto-info .informacoes .texto {
  margin: 30px  20px  30px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #202020;
  text-align: center;
}

.tambem-comprou {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.tambem-comprou > h1 {
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  color: var(--Brown);
  text-transform: uppercase;
  padding-bottom: 17px;
}

.tambem-comprou .container-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tambem-comprou .container-items .item {
  padding-right: 13px;
}

.tambem-comprou .container-items .item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.tambem-comprou .container-items .item .caption .valor {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #202020;
}

.tambem-comprou .container-items .item .caption .cores .circulo-rosa {
  width: 13px;
  height: 13px;
  background-color: var(--Purple);
  border-radius: 50%;
  display: inline-block;
}

.tambem-comprou .container-items .item .caption .cores .circulo-azul {
  width: 13px;
  height: 13px;
  background-color: var(--BlueAqua);
  border-radius: 50%;
  display: inline-block;
}

.tambem-comprou .container-items .item .caption .cores .circulo-marrom {
  width: 13px;
  height: 13px;
  background-color: #A14830;
  border-radius: 50%;
  display: inline-block;
}

.tambem-comprou .container-items .item .caption .cores .circulo-preto {
  width: 13px;
  height: 13px;
  background-color: var(--Black);
  border-radius: 50%;
  display: inline-block;
}

.tambem-comprou .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.tambem-comprou .nav-items > p {
  padding: 0 24px;
}

.footer {
  margin-top: 145px;
  border-top: 2px solid #AEB6C1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-leftside .social-media {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-leftside .social-media > img {
  padding-right: 30px;
}

.footer .footer-leftside .certificados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.footer .footer-leftside .certificados > img {
  padding-right: 30px;
}

.footer .footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-left: 55px;
}

.footer .footer-center > div {
  padding-right: 60px;
}

.footer .footer-center .institucional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-center .institucional > h1 {
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--GreyBlue);
}

.footer .footer-center .institucional > a {
  color: #202020;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
}

.footer .footer-center .informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-center .informacoes > h1 {
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--GreyBlue);
}

.footer .footer-center .informacoes > a {
  color: #202020;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
}

.footer .footer-center .conheca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-center .conheca > h1 {
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--GreyBlue);
}

.footer .footer-center .conheca > a {
  color: #202020;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
}

.footer .footer-rightside {
  position: relative;
}

.footer .footer-rightside .newlestter {
  position: absolute;
  top: -135px;
  width: 293px;
  height: 293px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  border: 2px solid var(--GreyBlue);
  border-radius: 50%;
  background: white;
}

.footer .footer-rightside .newlestter > h2 {
  padding-top: 50px;
  font-size: 16px;
}

.footer .footer-rightside .newlestter > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-rightside .newlestter > form > input {
  width: 216px;
  height: 28px;
  margin-top: 25px;
  padding-left: 5px;
  border-bottom: 1px solid var(--GreyBlue);
}

.footer .footer-rightside .newlestter > form > button {
  margin-top: 20px;
  width: 110px;
  height: 50px;
  border-radius: 3px;
  background: #DE8F75;
  color: white;
}

.rodape {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  background: var(--Brown);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rodape .container-rodape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.rodape .container-rodape .texto {
  max-width: 728px;
  font-size: 12px;
  line-height: 18px;
  color: var(--White);
}
/*# sourceMappingURL=styles.css.map */