 :root {
    --Brown: #DE8F75;
    --Blue: #5F75AA;
    --GreyBlue: #AEB6C1;
    --Purple: #A9095E;
    --BlueAqua: #2A5A75;
    --Black: #000000;
    --White: #FFFFFF;
    --Green: #32917B;
    --White2: #F2F2F2;
    --Silver: #EBEBEB;
    --Grey: #E3E3E3;
    --Grey2: #CCCCCC;
    --Grey3: #ADADAD;
    --Grey4: #7F7F7F;
    --Grey5: #686868;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat","sans-serif"!important;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

body{
    box-sizing: border-box;
}

.header{
    width: 100%;

    .logo{
        width: 100%;
        text-align: center;
        display: flex;
        flex: 1 1;
        justify-content: center;
        align-items: center;
        height: 86px;
    }

    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 40px;
        border-top: 1px solid var(--Grey2); 
        border-bottom: 1px solid var(--Grey2); 
        flex-wrap: nowrap;

        .login{
            font-weight: 400;
            font-size: 12px;
            line-height: 17,55px;

            >span{
                color: var(--Grey5);
            }
            >a{
                color: var(--Grey5);
                padding: 0 10px;
            }
        }

        .categorias{
            font-family: var(--Font);
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            

            >a{
                color: var(--Grey5);
                text-transform: uppercase;
                padding: 0 25px;
            }
        }

        .navbar-direita{
            display: flex;
            
            .busca{
                >input{
                    margin-right: 2em;
                    background: url(/assets/img/icone-busca.svg) no-repeat 9px;
                    padding-left: 40px;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid hsla(0,0%,40.8%,.4);
                    height: 35px;
                    outline: none;
                    width: 100px;
                    left: 50px;
                    transition: .4s;
                }
            }

            .sacola{
                display: flex;
                align-items:flex-end;

                >span{
                    font-family: "Open Sans";
                    font-size: 12px;
                }
            }
        }

    }
}

.pagina-atual{
    max-width: 1250px;
    margin: 0 auto;
    padding: 16px 40px;
    line-height: 18px;
    color: var(--GreyBlue);
}

.produto-info{
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;


    .container-info{
        display: flex;
        margin-left: 10px;

        .carrossel-produto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



            .videos{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                >p{
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                    color: var(--Brown);
                }

                .container-video{
                    width: 82px;
                    height: 45px;
                    margin: 10px;
                    position: relative;
                    display: flex;

                    >img{
                        width: 82px;
                        height: 45px;
                        object-fit: cover;
                    }

                    >.play-icon{
                        position: absolute;
                        width: 35px;
                        height: 35px;
                        top: 5px;
                        left: 23px;
                    }
                }
            }

            .lista-miniatura{

                .miniatura{
                    width: 82px;
                    height: 94px;
                    margin-bottom: 10px;
                }
                span{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;
                }

                span:last-child{
                    margin-top: 20px;
                }
            }
        }
    }

    .informacoes{
        max-width: 444px;
        border: 2px solid #D2E1DF;
        border-radius: 3px;
        display: flex;
        flex-direction: column;

        .titulo-id{
            margin-top: 18px;
            margin-left: 18px;
            margin-bottom: 17px;

            >h1{
                font-weight: 700;
                font-size: 26px;
                line-height: 26px;
                text-transform: uppercase;
            }
            >p{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
        }

        .valores{
            margin-left: 18px;
            margin-bottom: 25px;
            .preco{
                display: flex;
                align-items: center;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                

                .valor-antigo{
                    margin-right: 10px;
                    font-size: 20px;
                    color: #E35442;
                }

                .valor-novo{
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 32px;
                    color: var(--Grey5);
                }
            }
            
            >p{
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: var(--Grey4);
            }
        }

        .cor{
            margin-left: 18px;
            display: flex;
            
            >p:first-child{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }

            >p:last-child{
                padding-left: 5px;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: var(--Blue);
            }
        }

        .cores-selecao{
            margin-left: 12px;
            >span{
                
                margin: 13px 5px 17px 5px;
            }

            .circulo-rosa{
                width: 22px;
                height: 22px;
                background-color: var(--Purple);
                border-radius: 50%;
                display: inline-block;
            }
            .circulo-azul{
                width: 22px;
                height: 22px;
                background-color: var(--BlueAqua);
                border-radius: 50%;
                display: inline-block;
            }
            .circulo-marrom{
                width: 22px;
                height: 22px;
                background-color: #A14830;
                border-radius: 50%;
                display: inline-block;
            }
            .circulo-preto{
                width: 22px;
                height: 22px;
                background-color: var(--Black);
                border-radius: 50%;
                display: inline-block;
            }
        }

        .tamanho-title{
            margin-left: 18px;
            display: flex;
            justify-content: space-between;

            .tamanho-desc{
                display: flex;

                .tamanho{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: var(--Blue);
                }

                >p:first-child{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #202020;
                    padding-right: 10px;
                }
            }

            >p{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-decoration: underline;
                color: var(--Brown);
                padding-right: 18px;
            }




        }

        .tamanhos{
            margin-left: 18px;
            display: flex;
            padding-top: 10px;
            margin-bottom: 40px;
            .numero{
                font-size: 14px;
                color: var(--Blue);
                border: 1px solid var(--Silver);
                border-radius: 2px;
                padding: 10px;
                margin-right: 3px; 
            }
        }

        .button-sacola{
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: var(--White);
            background-color: var(--Green); 
            padding: 23px 100px;
            border-radius: 5px;
            text-transform: uppercase;
            margin: 0 auto;
        }

        .texto{
            margin: 30px  20px  30px 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            color: #202020; 
            text-align: center;
        }
    }
}

.tambem-comprou{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    >h1{
        font-weight: 400;
        font-size: 26px;
        line-height: 38px;
        color: var(--Brown);
        text-transform: uppercase;
        padding-bottom: 17px;
    }

    .container-items{
        display: flex;

        .item{
            padding-right: 13px;
            .caption{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;

                .valor{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #202020;
                }

                .cores{
                    .circulo-rosa{
                        width: 13px;
                        height: 13px;
                        background-color: var(--Purple);
                        border-radius: 50%;
                        display: inline-block;
                    }
                    .circulo-azul{
                        width: 13px;
                        height: 13px;
                        background-color: var(--BlueAqua);
                        border-radius: 50%;
                        display: inline-block;
                    }
                    .circulo-marrom{
                        width: 13px;
                        height: 13px;
                        background-color: #A14830;
                        border-radius: 50%;
                        display: inline-block;
                    }
                    .circulo-preto{
                        width: 13px;
                        height: 13px;
                        background-color: var(--Black);
                        border-radius: 50%;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .nav-items{
        display: flex;
        align-items: center;
        margin-top: 24px;

        >p{
            padding: 0 24px;
        }
    }
}

.footer{
    margin-top: 145px;
    border-top: 2px solid #AEB6C1;
    display: flex;

    .footer-leftside{
        display: flex;
        flex-direction: column;

        .social-media{
            margin-top: 20px;
            margin-left: 70px;
            display: flex;
            >img{
                padding-right: 30px;
            }
        }

        .certificados{
            display: flex;
            margin-top: 50px;
            margin-left: 70px;
            >img{
                padding-right: 30px;
            }
        }
    }

    .footer-center{
        display: flex;
        margin-top: 60px;
        margin-left: 55px;

        >div{
            padding-right: 60px;
        }

        .institucional{
            display: flex;
            flex-direction: column;

            >h1{
                font-weight: 700;
                font-size: 12px;
                line-height: 19px;
                text-transform: uppercase;
                color: var(--GreyBlue);
            }
            >a{
                color: #202020;
                font-weight: normal;
                font-size: 14px;
                line-height: 28px;
            }
        }

        .informacoes{
            display: flex;
            flex-direction: column;
            >h1{
                font-weight: 700;
                font-size: 12px;
                line-height: 19px;
                text-transform: uppercase;
                color: var(--GreyBlue);
            }
            >a{
                color: #202020;
                font-weight: normal;
                font-size: 14px;
                line-height: 28px;
            }
        }

        .conheca{
            display: flex;
            flex-direction: column;
            >h1{
                font-weight: 700;
                font-size: 12px;
                line-height: 19px;
                text-transform: uppercase;
                color: var(--GreyBlue);
            }
            >a{
                color: #202020;
                font-weight: normal;
                font-size: 14px;
                line-height: 28px;
            }
        }
    }  

    .footer-rightside{
        position: relative;
        .newlestter{
            position: absolute;
            top: -135px;
            width: 293px;
            height: 293px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: uppercase;
            border: 2px solid var(--GreyBlue);
            border-radius: 50%;
            background: white;

            >h2{
                padding-top: 50px;
                font-size: 16px;
            }

            >form{
                display: flex;
                flex-direction: column;
                align-items: center;

                >input{
                    width: 216px;
                    height: 28px;
                    margin-top: 25px;
                    padding-left: 5px;
                    border-bottom: 1px solid var(--GreyBlue);
                }

                >button{
                    margin-top: 20px;
                    width: 110px;
                    height: 50px;
                    border-radius: 3px;
                    background: #DE8F75;
                    color: white;
                }
            }
        }
    }
}

.rodape{
    margin-top: 60px;
    display: flex;
    max-width: 100%;
    background: var(--Brown);
    justify-content: space-between;
    padding: 15px 100px;
    align-items: center;

    .texto{
        max-width: 728px;
        font-size: 12px;
        line-height: 18px;
        color: var(--White);
    }
}


