 :root {
    --Font: "Montserrat";
    --Brown: #DE8F75;
    --Blue: #5F75AA;
    --GreyBlue: #AEB6C1;
    --Purple: #A9095E;
    --BlueAqua: #2A5A75;
    --Black: #000000;
    --White: #FFFFFF;
    --Green: #32917B;
    --White2: #F2F2F2;
    --Silver: #EBEBEB;
    --Grey: #E3E3E3;
    --Grey2: #CCCCCC;
    --Grey3: #ADADAD;
    --Grey4: #7F7F7F;
    --Grey5: #686868;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat","sans-serif"!important;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

body{
    box-sizing: border-box;
}

.header{
    width: 100%;

    .logo{
        width: 100%;
        text-align: center;
        display: flex;
        flex: 1 1;
        justify-content: center;
        align-items: center;
        height: 86px;
    }

    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 40px;
        border-top: 1px solid var(--Grey2); 
        border-bottom: 1px solid var(--Grey2); 
        flex-wrap: nowrap;

        .login{
            font-family: var(--Font);
            font-weight: 400;
            font-size: 12px;
            line-height: 17,55px;

            >span{
                color: var(--Grey5);
            }
            >a{
                color: var(--Grey5);
                padding: 0 10px;
            }
        }

        .categorias{
            font-family: var(--Font);
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            

            >a{
                color: var(--Grey5);
                text-transform: uppercase;
                padding: 0 25px;
            }
        }

        .navbar-direita{
            display: flex;
            
            .busca{
                >input{
                    margin-right: 2em;
                    background: url(/assets/img/icone-busca.svg) no-repeat 9px;
                    padding-left: 40px;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid hsla(0,0%,40.8%,.4);
                    height: 35px;
                    outline: none;
                    width: 100px;
                    left: 50px;
                    transition: .4s;
                }
            }

            .sacola{
                display: flex;
                align-items:flex-end;

                >span{
                    font-family: "Open Sans";
                    font-size: 12px;
                }
            }
        }

    }
}

